snippet console_log "console.log"
console.log('${0}');
endsnippet

snippet function "function"
const ${1:name} = (${2:arg}) => {
	return ${3};
}
endsnippet

snippet class "class"
class ${1:name} {
	constructor(${2:arg}) {
		${3}
	}
	${4}
}
endsnippet
